<h1><%= @list.id ? 'Edit List' : 'Create New List' %></h1>
<hr />
<%= form_for @list do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
    <br />

    <%= f.label :image %>
    <%= f.url_field :image %>
    <br />

    <%= f.submit %>
    
<% end %>

<hr />
<br />
<%= link_to 'Go Back', lists_path %>