<h1>Bucket List Name: <%= @list.name %></h1>
<img src='<%= @list.image %>'/>

<hr />

<%= link_to 'Add an item', new_list_activity_path(@list) %>

<h2> List items: </h2>

<ol>
<% @list.activities.each do |activity| %>
    <li><h3><%= activity.name %> </h3>
    <%= link_to 'Edit', edit_list_activity_path(list_id: @list, id: activity) %>
    <%= link_to 'Delete', list_activity_path(list_id: @list, id: activity), method: :delete %>
    </li>
<% end %>
</ol>

<hr />
<br />
<%= link_to 'Go Back', lists_path %>