<h1>List Name: <%= @list.name %></h1>
<%# <h2>Destination: <%= @list.destination.name </h2> %>
<img src='<%= @list.image %>'/>

<hr />

<%= link_to 'Add an item', new_list_activity_path(@list) %>

<h2> List items: </h2>

<% @list.activities.each do |activity| %>
    <p> print something </p>
    <h3><%= activity.name %></h3>
    <%= link_to 'Edit', edit_list_activity_path(list_id: @list, id: activity) %>
    <%= link_to 'Delete', list_activity_path(list_id: @list, id: activity), method: :delete %>
<% end %>

<hr />
<br />
<%= link_to 'Go Back', lists_path %>