<h1><%= @activity.id ? 'Edit Activity' : 'Add New Activity To List' %></h1>
<hr />

<%= form_for [@list, @activity] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
    <br />

    <%= f.submit 'Add Activity' %>
    
<% end %>